<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="/css/style.css"
    />
  </head>
  <body>
    <h1>hello</h1>
    <% if (message != '') { %>
     <p>data berhasil <%= message %></p>
    <% } %>
    <form>
      <input
        type="text"
        name="name"
        placeholder="Search Name"
      /> <br>
      <input type="radio" name="price" value="10"> lebih dari 10 </input><br>
      <input type="radio" name="price" value="100"> lebih dari 100 </input><br>
      <input type="radio" name="price" value="1000"> lebih dari 1000 </input><br>
      <button>Search</button>
    </form>
    <table>
      <th>id</th>
      <th>nama</th>
      <th>harga</th>
      <th>rating</th>
      <th>action</th>
      <% tours.map((tour) => { %>
      <tr>
        <td><%- tour.id %></td>
        <td><%- tour.name %></td>
        <td><%- tour.price %></td>
        <td><%- tour.rating %></td>
        <td>
          <a href="/dashboard/edit/<%- tour.id %>"
            >edit</a
          >
          |
          <a
            href="/dashboard/delete/<%- tour.id %>"
            >delete</a
          >
        </td>
      </tr>
      <% }) %>
    </table>
    <a href="/dashboard/create">create data</a>
  </body>
</html>
